* {
  transition: all 0.3s ease;
}
/* desktop */
@media only screen and (min-width: 920px) {
  body {
  }
  .currentWeather {
    height: 90vh;
    width: 55vw;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .currentWeatherChild {
    height: 90vh;
    width: 55vw;
  }
  .remoteWeather {
    height: 90vh;
    width: 35vw;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
/* mobile */
@media only screen and (max-width: 920px) {
  body {
  }
  .currentWeather {
    width: 100vw;
    height: 100vh;
  }
  .currentWeatherChild {
    background: linear-gradient(transparent 75%, #111);
    width: 100vw;
    height: 100vh;
  }
  .remoteWeather {
    width: 100vw;
    height: 5rem;
  }
}

body {
  background-color: #222;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}
.currentWeather {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}
.currentWeatherChild {
  /* background-color: #111; */
  backdrop-filter: brightness(0.5) /* blur(7px) */;
  /* min-height: 100%;
  min-width: 100%; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* box-shadow: 0 0 5px #333; */
}
.icon {
  /* height: 40px; */
  border-radius: 50%;
  /* background-color: #ccc; */
  margin: -50px;
  margin-top: -100px;
}
.temp {
  font-size: 100px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
}
/* .temp::after {
  content: "°C";
  position: absolute;
  left: 100px;
  font-size: 32px;
  font-weight: 600;
  color: #ccc;
} */
.temp span {
  font-size: 32px;
  font-weight: 600;
  color: #ccc;
}
.location {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  font-weight: 500;
}
.feelsLike {
  font-size: 14px;
}
.desc {
  margin-top: 3px;
  font-size: 12px;
  color: #ccc;
}
.advBtn {
  font-family: inherit;
  margin-block: 20px;
  background: none;
  color: #aaa;
  /* text-decoration: underline; */
  border: none;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: drop-shadow(0 0 5px #00000088); */
}
.advBtn svg {
  scale: 0.7;
  margin-block: -5px;
}
.advanced {
  margin-inline: 5vw;
  /* background-color: #111111ee; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* backdrop-filter: blur(50px); */
}
.adv {
  font-size: 18px;
  flex: 0.2;
  backdrop-filter: blur(50px);
  background-color: #111111aa;
  /* border: 1px solid #ffffff33; */
  min-width: 5rem;
  padding-inline: 24px;
  padding-block: 14px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}
.adv div {
  /* backdrop-filter: blur(50px); */
}
.adv span {
  font-size: 12px;
  color: #aaa;
  font-weight: 300;
  /* backdrop-filter: blur(50px); */
}
.pressure {
}
.humidity {
}
.tempMin {
}
.tempMax {
}
.visibility {
}
.windSpeed {
}
.time {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.time .line1 {
  font-size: 32px;
}
.time .line2 {
  font-size: 12px;
}
.remoteWeather {
  /* background-color: #111; */
  backdrop-filter: brightness(0.5) /* blur(7px) */;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* box-shadow: 0 0 5px #333; */
}
.search {
  background-color: transparent;
  /* position: absolute; */
  top: 5%;
  width: 100%;
  margin-inline: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.search input {
  width: calc(80% - 2.6rem);
  height: 2.5rem;
  border-radius: 50px;
  border: 0;
  background-color: #222;
  color: #fff;
  padding-inline: 15px;
}
.search button {
  width: 2.7rem;
  height: 2.6rem;
  border-radius: 50%;
  border: 0;
  /* border: 1px solid #555; */
  background-color: #222;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.search button svg {
  fill: #aaa;
  scale: 0.8;
}
